/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILO GLOBAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
    color: #333;
}

/* HERO */
.hero {
    background: #0a3d62;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero button {
    margin-top: 20px;
    padding: 15px 30px;
    background: #38ada9;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* SEÇÕES */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

/* FORMULÁRIO */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-top: 5px;
}

form button {
    margin-top: 25px;
    padding: 12px;
    background: #0a3d62;
    color: white;
    border: none;
}

/* loading e UP para n8n */
#loader {
    background: hwb(184 22% 32%);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #333
}

/* RESULTADO */
#resultContent {
    background: white;
    padding: 25px;
    border-radius: 5px;
}

textarea {
  field-sizing: content;
  min-height: 50px; /* Opcional: define uma altura mínima */
  max-height: 300px; /* Opcional: define um limite máximo antes de aparecer o scroll */
}

/* CONFIANÇA */

.trust {
    display: flex;
    justify-content: space-around;
    background: #ecf0f1;
}

.trust-item {
    text-align: center;
    padding: 20px;
}

.trust-item i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #0a3d62;
}

/* RODAPÉ */
footer {
    background: #0a3d62;
    color: white;
    text-align: center;
    padding: 20px;    
}


/* UTILITÁRIOS */
.hidden {
    display: none;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .paths {
        flex-direction: column;
    }
}

/* BOTÃO FLUTUANTE DO WHATSAPP */
.btn-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.btn-whatsapp img {
    width: 35px;
    height: 35px;
}

.btn-whatsapp:hover {
    background-color: #128c7e;
    transform: scale(1.1);

}
